.suggestion-item {
    color: #2079c9;
    text-decoration: none;
    padding: 0.6rem 1rem;
    display: block;
    text-align: left;
    border-bottom: 1px dotted;
    font-size: 1rem;
    cursor: pointer;
}