.searchElement {
    position: relative;
    height: 3.25rem;
    border-radius: 26px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.textField-form {
    width: 100%;
}

.textField-input {
    width: 100%;
    flex: 1;
    margin-left: 1rem;
    height: 3.25rem;
    border: none;
    font-size: 1.125rem;
}

.textField-input:focus{
    outline: none;
}


.location-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 100%;
    display: contents;
}

.location-button:hover {
    cursor: pointer;
}

.search-result {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 98%;
    left: 1%;
    top: 3.35rem;
    border-radius: 5px;
    overflow: hidden;
}